@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #568EA3;
}

#navbar {
  display: flex;
}

#searchBar {
  display: flex;
  gap: 6.25%;
  margin-right: 6.25%;
  margin-left: 2.75%;
}

#profileSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
}

/* WBV PIN DETAIL STYLING START  */

.PD-container {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  background-color: #FFFFFF;
  border: 1px solid #826251;
  padding: 0px 0px 0px 0px;
  width: 80%;
}

.PD-photo-container {
  flex-shrink: 1;
}

.PD-photo-container img {
  object-fit: cover;
}

.PD-photo {
  border-radius: 25px 0px 0px 25px;
  height: 100%;
}

.PD-detail-container {
  flex-grow: 2;
  border-left: 1px solid #826251;
  display: flex;
  flex-direction: column;
  padding: 40px 50px 40px 50px;
}

.PD-pin-name {
  text-align: center;
  font-size: 35px;
}

.PD-lock {
  text-align: center;
  font-size: 50px;
}

/* WBV PIN DETAIL STYLING END  */
